In [4]:
import pandas as pd 
data = pd.read_csv("space_x_database.csv") 
#!head -n 1 space_x_database.csv

data.head(50)

,Flight Number,Launch Date,Launch Time,Launch Site,Vehicle Type,Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Customer Name,Customer Type,Customer Country,Mission Outcome,Failure Reason,Landing Type,Landing Outcome
0,F1-1,24 March 2006,22:30,Marshall Islands,Falcon 1,FalconSAT-2,Research Satellite,19.5,NaN,DARPA,Government,United States,Failure,Engine Fire During Launch,NaN,NaN
1,F1-2,21 March 2007,01:10,Marshall Islands,Falcon 1,DemoSat,NaN,NaN,NaN,DARPA,Government,United States,Failure,Engine Shutdown During Launch,NaN,NaN
2,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Trailblazer,Communication Satellite,NaN,NaN,ORS,Government,United States,Failure,Collision During Launch,NaN,NaN
3,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,"PRESat, NanoSail-D",Research Satellites,8.0,NaN,NASA,Government,United States,Failure,Collision During Launch,NaN,NaN
4,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Explorers,Human Remains,NaN,NaN,Celestis,Business,United States,Failure,Collision During Launch,NaN,NaN
5,F1-4,28 September 2008,23:15,Marshall Islands,Falcon 1,RatSat (DemoSat),NaN,165.0,Low Earth Orbit,NaN,NaN,NaN,Success,NaN,NaN,NaN
6,F1-5,14 July 2009,03:35,Marshall Islands,Falcon 1,RazakSAT,Weather Satellite,180.0,Low Earth Orbit,ATSB,Government,Malaysia,Success,NaN,NaN,NaN
7,F9-1,4 June 2010,18:45,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),Dragon Spacecraft Qualification Unit,NaN,NaN,Low Earth Orbit,NaN,NaN,NaN,Success,NaN,Parachute,Failure
8,F9-2,8 December 2010,15:43,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),SpaceX CRS (Dragon C1),Space Station Supplies,NaN,Low Earth Orbit,NASA,Government,United States,Success,NaN,Parachute,Failure
9,F9-3,22 May 2012,07:44,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),SpaceX CRS (Dragon C2+),Space Station Supplies,NaN,Low Earth Orbit,NASA,Government,United States,Success,NaN,NaN,NaN
10,F9-4,8 October 2012,00:35,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),SpaceX CRS-1,Space Station Supplies,500.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,NaN,NaN
11,F9-4,8 October 2012,00:35,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),Orbcomm-OG2,Communication Satellite,150.0,Low Earth Orbit,Orbcomm,Business,United States,Failure,Engine Failure During Flight,NaN,NaN
12,F9-5,1 March 2013,15:10,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),SpaceX CRS-2,Space Station Supplies,677.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,NaN,NaN
13,F9-6,29 September 2013,16:00,Vandenberg AFB SLC-4E,Falcon 9 (v1.1),CASSIOPE,Communication/Research Satellite,500.0,Polar Orbit,MDA Corp,Business,Canada,Success,NaN,Ocean,Failure
14,F9-7,3 December 2013,22:41,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SES-8,Communication Satellite,3170.0,Geostationary Transfer Orbit,SES,Business,Luxembourg,Success,NaN,None,NaN
15,F9-8,6 December 2014,22:06,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),Thaicom 6,Communication Satellite,3325.0,Geostationary Transfer Orbit,Thaicom,Business,Thailand,Success,NaN,None,NaN
16,F9-9,18 April 2014,19:25,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-3,Space Station Supplies,2296.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ocean,Success
17,F9-10,14 July 2014,15:15,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),OG2 Mission 1 (6 OG2 Satellites),Communication Satellite,NaN,Low Earth Orbit,Orbcomm,Business,United States,Success,NaN,Ocean,Success
18,F9-11,5 August 2014,08:00,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),AsiaSat 8,Communication Satellite,4535.0,Geostationary Transfer Orbit,AsiaSat,Business,China,Success,NaN,None,NaN
19,F9-12,7 September 2014,05:00,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),AsiaSat 6,Communication Satellite,4428.0,Geostationary Transfer Orbit,AsiaSat,Business,China,Success,NaN,None,NaN
20,F9-13,21 September 2014,05:52,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-4,Space Station Supplies,2216.0,Geostationary Transfer Orbit,NASA,Government,United States,Success,NaN,Ocean,Success
21,F9-14,10 January 2015,09:47,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-5,Space Station Supplies,2395.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ship,Failure
22,F9-15,11 February 2015,23:03,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),DSCOVR,Weather Satellite,570.0,Sun/Earth Orbit,US Air Force; NASA; NOAA,Government,United States,Success,NaN,Ocean,Success
23,F9-16,2 March 2015,03:50,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),ABS-3A,Communication Satellite,4159.0,Geostationary Transfer Orbit,Asia Broadcast Satellite,Business,Bermuda,Success,NaN,None,NaN
24,F9-16,2 March 2015,03:50,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),Eutelsat 115 West B (Satmex 7),Communication Satellite,4159.0,Geostationary Transfer Orbit,Eutelsat (Satmex),Business,France (Mexico),Success,NaN,None,NaN
25,F9-17,14 April 2015,20:10,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-6,Space Station Supplies,1898.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ship,Failure
26,F9-18,27 April 2015,23:03,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),TurkmenAlem 52E/MonacoSAT,Communication Satellite,4707.0,Geostationary Transfer Orbit,Turkmenistan NSA,Government,Turkmenistan,Success,NaN,None,NaN
27,F9-19,28 June 2015,14:21,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-7,Space Station Supplies,1952.0,Low Earth Orbit,NASA,Government,United States,Failure,Vehicle Explosion During Flight,NaN,NaN
28,FT-1,22 December 2015,01:29,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),OG2 Mission 2 (11 OG2 Satellites),Communication Satellite,NaN,Low Earth Orbit,Orbcomm,Business,United States,Success,NaN,Land,Success
29,F9-21,17 January 2016,18:42,Vandenberg AFB SLC-4E,Falcon 9 (v1.1),Jason-3,Weather Satellite,553.0,Low Earth Orbit,NASA; NOAA; CNES,Government,United States,Success,NaN,Ship,Failure
30,FT-2,4 March 2016,23:35,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),SES-9,Communication Satellite,5271.0,Geostationary Transfer Orbit,SES,Business,Luxembourg,Success,NaN,Ship,Failure
31,FT-3,8 April 2016,20:43,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),SpaceX CRS-8,Space Station Supplies,3136.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ship,Success
32,FT-4,6 May 2016,05:21,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),JCSAT-14,Communication Satellite,4696.0,Geostationary Transfer Orbit,SKY Perfect JSAT Group,Business,Japan,Success,NaN,Ship,Success
33,FT-5,27 May 2016,21:39,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Thaicom 8,Communication Satellite,3100.0,Geostationary Transfer Orbit,Thaicom,Business,Thailand,Success,NaN,Ship,Success
34,FT-6,15 June 2016,14:29,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),ABS-2A,Communication Satellite,3600.0,Geostationary Transfer Orbit,Asia Broadcast Satellite,Business,Bermuda,Success,NaN,Ship,Failure
35,FT-6,15 June 2016,14:29,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Eutelsat 117 West B (Satmex 9),Communication Satellite,3600.0,Geostationary Transfer Orbit,Eutelsat (Satmex),Business,France (Mexico),Success,NaN,Ship,Failure
36,FT-7,18 July 2016,04:45,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),SpaceX CRS-9,Space Station Supplies,2257.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Land,Success
37,FT-8,14 August 2016,05:26,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),JCSAT-16,Communication Satellite,4600.0,Geostationary Transfer Orbit,SKY Perfect JSAT Group,Business,Japan,Success,NaN,Ship,Success
38,FT-9,1 September 2016,13:07,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Amos-6,Communication Satellite,5500.0,Geostationary Transfer Orbit,Spacecom,Business,Israel,Failure,Vehicle Explosion Before Launch,NaN,NaN
39,FT-10,14 January 2017,17:54,Vandenberg AFB SLC-4E,Falcon 9 Full Thrust (v1.2),Iridium NEXT 1-10,Communication Satellite,9600.0,Low Earth Orbit,Iridium Communications,Business,United States,Success,NaN,Ship,Success
40,FT-11,19 February 2017,14:39,Kennedy Space Center LC-39A,Falcon 9 Full Thrust (v1.2),SpaceX CRS-10,Space Station Supplies,2490.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Land,Success

In [5]:
import csv
import cx_Oracle

username = 'dummy'
password = 'dummy'
database = 'localhost:1521/ORCLCDB.localdomain'

connection = cx_Oracle.connect(username, password, database)

In [7]:
countries_list= data["Customer Country"].ffill().unique()


def quote(x):
    
    if isinstance(x, str):
        return "'"+x+"'" # quote all strings in quotes
    else:
        if str(x)=="nan":
            return "''" # for nan
        else:
            return  "'"+str(x)+"'"  # for digits
        

def gen_type_sql(table_name, columns_list,  values_list, id_offset=0):
    res_dict = {}
    for row_n in range(len(values_list)):
        uid = id_offset + row_n

       
        cursor = connection.cursor()
        try:
            ##insert_query = '''INSERT INTO COUNTRYREGION (country, region) VALUES (:country, :region)'''
            insert_query = f"INSERT INTO {table_name}({','.join(columns_list)})"+"VALUES("+", ".join([str(uid)] +[quote(values_list[row_n])]) +" );" 
            print(insert_query)
            cursor.execute(insert_query)
        except:
            print('already in database')
        
        connection.commit()
        cursor.close()
    
        res_dict[values_list[row_n]] = str(uid)
    return res_dict
        
countries_dict = gen_type_sql("Country", ["CountryID","Name"],  countries_list, 31)

INSERT INTO Country(CountryID,Name)VALUES(31, 'United States' );
INSERT INTO Country(CountryID,Name)VALUES(32, 'Malaysia' );
INSERT INTO Country(CountryID,Name)VALUES(33, 'Canada' );
INSERT INTO Country(CountryID,Name)VALUES(34, 'Luxembourg' );
INSERT INTO Country(CountryID,Name)VALUES(35, 'Thailand' );
INSERT INTO Country(CountryID,Name)VALUES(36, 'China' );
INSERT INTO Country(CountryID,Name)VALUES(37, 'Bermuda' );
INSERT INTO Country(CountryID,Name)VALUES(38, 'France (Mexico)' );
INSERT INTO Country(CountryID,Name)VALUES(39, 'Turkmenistan' );
INSERT INTO Country(CountryID,Name)VALUES(40, 'Japan' );
INSERT INTO Country(CountryID,Name)VALUES(41, 'Israel' );

In [8]:
countries_dict

{'United States': '31',
 'Malaysia': '32',
 'Canada': '33',
 'Luxembourg': '34',
 'Thailand': '35',
 'China': '36',
 'Bermuda': '37',
 'France (Mexico)': '38',
 'Turkmenistan': '39',
 'Japan': '40',
 'Israel': '41'}

In [9]:
customer_types_list= data["Customer Type"].ffill().unique()
customer_types_dict = gen_type_sql("CustomerType", ["CustomerTypeId", "Name"],  customer_types_list)

INSERT INTO CustomerType(CustomerTypeId,Name)VALUES(0, 'Government' );
INSERT INTO CustomerType(CustomerTypeId,Name)VALUES(1, 'Business' );

In [10]:
landing_types_list= data["Landing Type"].ffill().unique()
landing_types_dict = gen_type_sql("LandingType", ["LandingTypeId", "Name"],  landing_types_list)

INSERT INTO LandingType(LandingTypeId,Name)VALUES(0, '' );
INSERT INTO LandingType(LandingTypeId,Name)VALUES(1, 'Parachute' );
INSERT INTO LandingType(LandingTypeId,Name)VALUES(2, 'Ocean' );
INSERT INTO LandingType(LandingTypeId,Name)VALUES(3, 'None' );
INSERT INTO LandingType(LandingTypeId,Name)VALUES(4, 'Ship' );
INSERT INTO LandingType(LandingTypeId,Name)VALUES(5, 'Land' );

In [11]:
vehicle_types_list= data["Vehicle Type"].ffill().unique()
vehicle_types_dict = gen_type_sql("VehicleType", ["VehicleTypeId", "Name"],  vehicle_types_list)

INSERT INTO VehicleType(VehicleTypeId,Name)VALUES(0, 'Falcon 1' );
INSERT INTO VehicleType(VehicleTypeId,Name)VALUES(1, 'Falcon 9 (v1.0)' );
INSERT INTO VehicleType(VehicleTypeId,Name)VALUES(2, 'Falcon 9 (v1.1)' );
INSERT INTO VehicleType(VehicleTypeId,Name)VALUES(3, 'Falcon 9 Full Thrust (v1.2)' );

In [12]:

payload_types_list= data["Payload Type"].ffill().unique()
payload_types_dict = gen_type_sql("PayloadType", ["PayloadTypeId", "Name"],  payload_types_list)

INSERT INTO PayloadType(PayloadTypeId,Name)VALUES(0, 'Research Satellite' );
INSERT INTO PayloadType(PayloadTypeId,Name)VALUES(1, 'Communication Satellite' );
INSERT INTO PayloadType(PayloadTypeId,Name)VALUES(2, 'Research Satellites' );
INSERT INTO PayloadType(PayloadTypeId,Name)VALUES(3, 'Human Remains' );
INSERT INTO PayloadType(PayloadTypeId,Name)VALUES(4, 'Weather Satellite' );
INSERT INTO PayloadType(PayloadTypeId,Name)VALUES(5, 'Space Station Supplies' );
INSERT INTO PayloadType(PayloadTypeId,Name)VALUES(6, 'Communication/Research Satellite' );

In [13]:
table_name = "Customer"

row_map = {
    'CustomerId': lambda row, cnt, val: str(cnt),
    'Name': lambda row, cnt, val:quote(row['Customer Name']),
    'CustomerType_CustomerTypeId': lambda row, cnt, val: str(customer_types_dict[row['Customer Type']]),
    'Country_CountryId':  lambda row, cnt, val: str(countries_dict[row['Customer Country']]),
    }

df = data[['Customer Name', 'Customer Type', 'Customer Country']].ffill().drop_duplicates()

def gen_table_inserts(table_name, df, row_map, unique_identifier_name="Name" ,default_val=""):
    cnt=0
    res_dict = {} # store mapping of name => id 
    
    cursor = connection.cursor()
    for index, row  in df.iterrows():
        
        try:
            insert_query = f"INSERT INTO {table_name}({','.join(row_map.keys())}) VALUES("+", ".join([l(row, cnt, default_val)  for k, l in row_map.items()]) +" );" 
            print(insert_query)
            cursor.execute(insert_query)
        except:
            print('already in database')
        
        connection.commit()
    
        res_dict[row_map[unique_identifier_name](row, cnt, default_val)] = str(cnt)
        cnt+=1
        #except Exception as e: 
        #    print(f"-- Oups:: {row} + {e}")
    cursor.close()
    return res_dict
        
        
customer_names_dict = gen_table_inserts(table_name, df, row_map, unique_identifier_name="Name", default_val="")

INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(0, 'DARPA', 0, 31 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(1, 'ORS', 0, 31 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(2, 'NASA', 0, 31 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(3, 'Celestis', 1, 31 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(4, 'ATSB', 0, 32 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(5, 'Orbcomm', 1, 31 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(6, 'MDA Corp', 1, 33 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(7, 'SES', 1, 34 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(8, 'Thaicom', 1, 35 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(9, 'AsiaSat', 1, 36 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(10, 'US Air Force; NASA; NOAA', 0, 31 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(11, 'Asia Broadcast Satellite', 1, 37 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(12, 'Eutelsat (Satmex)', 1, 38 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(13, 'Turkmenistan NSA', 0, 39 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(14, 'NASA; NOAA; CNES', 0, 31 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(15, 'SKY Perfect JSAT Group', 1, 40 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(16, 'Spacecom', 1, 41 );
INSERT INTO Customer(CustomerId,Name,CustomerType_CustomerTypeId,Country_CountryId) VALUES(17, 'Iridium Communications', 1, 31 );

In [14]:
table_name = "Payload"

row_map = {
    'PayloadId': lambda row, cnt, val: str(cnt),
    'Name': lambda row, cnt, val:quote(row['Payload Name']),
    'MassKg': lambda row, cnt, val:quote(row['Payload Mass (kg)']),
    'PayloadType_PayloadTypeId': lambda row, cnt, val: str(payload_types_dict[row['Payload Type']]),
    }

df = data[['Payload Name', 'Payload Mass (kg)', 'Payload Type']].ffill().drop_duplicates()

        
payload_names_dict = gen_table_inserts(table_name, df, row_map, unique_identifier_name="Name", default_val="")

INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(0, 'FalconSAT-2', '19.5', 0 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(1, 'DemoSat', '19.5', 0 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(2, 'Trailblazer', '19.5', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(3, 'PRESat, NanoSail-D', '8.0', 2 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(4, 'Explorers', '8.0', 3 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(5, 'RatSat (DemoSat)', '165.0', 3 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(6, 'RazakSAT', '180.0', 4 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(7, 'Dragon Spacecraft Qualification Unit', '180.0', 4 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(8, 'SpaceX CRS (Dragon C1)', '180.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(9, 'SpaceX CRS (Dragon C2+)', '180.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(10, 'SpaceX CRS-1', '500.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(11, 'Orbcomm-OG2', '150.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(12, 'SpaceX CRS-2', '677.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(13, 'CASSIOPE', '500.0', 6 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(14, 'SES-8', '3170.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(15, 'Thaicom 6', '3325.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(16, 'SpaceX CRS-3', '2296.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(17, 'OG2 Mission 1 (6 OG2 Satellites)', '2296.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(18, 'AsiaSat 8', '4535.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(19, 'AsiaSat 6', '4428.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(20, 'SpaceX CRS-4', '2216.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(21, 'SpaceX CRS-5', '2395.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(22, 'DSCOVR', '570.0', 4 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(23, 'ABS-3A', '4159.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(24, 'Eutelsat 115 West B (Satmex 7)', '4159.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(25, 'SpaceX CRS-6', '1898.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(26, 'TurkmenAlem 52E/MonacoSAT', '4707.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(27, 'SpaceX CRS-7', '1952.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(28, 'OG2 Mission 2 (11 OG2 Satellites)', '1952.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(29, 'Jason-3', '553.0', 4 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(30, 'SES-9', '5271.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(31, 'SpaceX CRS-8', '3136.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(32, 'JCSAT-14', '4696.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(33, 'Thaicom 8', '3100.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(34, 'ABS-2A', '3600.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(35, 'Eutelsat 117 West B (Satmex 9)', '3600.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(36, 'SpaceX CRS-9', '2257.0', 5 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(37, 'JCSAT-16', '4600.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(38, 'Amos-6', '5500.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(39, 'Iridium NEXT 1-10', '9600.0', 1 );
INSERT INTO Payload(PayloadId,Name,MassKg,PayloadType_PayloadTypeId) VALUES(40, 'SpaceX CRS-10', '2490.0', 5 );

In [15]:
table_name = "Mission"

def month2num(m):
    return str({
        'January' : 1,
        'February' : 2,
        'March' : 3,
        'April' : 4,
        'May' : 5,
        'June' : 6,
        'July' : 7,
        'August' : 8,
        'September' : 9, 
        'October' : 10,
        'November' : 11,
        'December' : 12
}[m])

def double_digit(d):
    return d if len(d)>1 else "0"+d

def convert_oracle_date(d):
    #-- INSERT INTO my_table (my_date) VALUES ( TO_DATE( '11-13-2012', 'MM-DD-YYYY' ) );
    #-- SELECT TO_CHAR( my_date, 'MM-DD-YYYY' ) FROM my_table;
    # d="3 August 2008"
    dd=d.split(" ")
    oracle_date = "-".join([ double_digit(d) for d in[dd[0],month2num(dd[1]),dd[2]]])
    return f"TO_DATE( '{oracle_date}', 'DD-MM-YYYY' )"


row_map = {
    'MissionId': lambda row, cnt, val: str(cnt),
    'LaunchDate': lambda row, cnt, val: convert_oracle_date(row['Launch Date']),
    'LaunchSite': lambda row, cnt, val: quote(row['Launch Site']),
    'MissionOutcome': lambda row, cnt, val:quote(row['Mission Outcome']),
    'FailureReason': lambda row, cnt, val:quote(row['Failure Reason']),
    'LandingOutcome': lambda row, cnt, val:quote(row['Landing Outcome']),
    'FlightNumber': lambda row, cnt, val:quote(row['Flight Number']),
    'Orbit': lambda row, cnt, val:quote(row['Payload Orbit']),
    # -- FKs
    'Payload_PayloadId': lambda row, cnt, val: str(payload_types_dict[row['Payload Type']]),
    'LandingType_LandingTypeId':  lambda row, cnt, val: str(landing_types_dict[row['Landing Type']]),
    'VehicleType_VehicleTypeId': lambda row, cnt, val: str(vehicle_types_dict[row['Vehicle Type']]),
    'Customer_CustomerId':  lambda row, cnt, val: str(customer_names_dict[quote(row['Customer Name'])]),
    }

df_cols=['Launch Date', 'Launch Site','Mission Outcome','Failure Reason','Landing Outcome','Flight Number','Payload Orbit','Payload Type', 'Landing Type','Vehicle Type','Customer Name']
df = data[df_cols].ffill().drop_duplicates()
missions_names_dict = gen_table_inserts(table_name, df, row_map, unique_identifier_name="FlightNumber", default_val="")

INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(0, TO_DATE( '24-03-2006', 'DD-MM-YYYY' ), 'Marshall Islands', 'Failure', 'Engine Fire During Launch', '', 'F1-1', '', 0, 0, 0, 0 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(1, TO_DATE( '21-03-2007', 'DD-MM-YYYY' ), 'Marshall Islands', 'Failure', 'Engine Shutdown During Launch', '', 'F1-2', '', 0, 0, 0, 0 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(2, TO_DATE( '03-08-2008', 'DD-MM-YYYY' ), 'Marshall Islands', 'Failure', 'Collision During Launch', '', 'F1-3', '', 1, 0, 0, 1 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(3, TO_DATE( '03-08-2008', 'DD-MM-YYYY' ), 'Marshall Islands', 'Failure', 'Collision During Launch', '', 'F1-3', '', 2, 0, 0, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(4, TO_DATE( '03-08-2008', 'DD-MM-YYYY' ), 'Marshall Islands', 'Failure', 'Collision During Launch', '', 'F1-3', '', 3, 0, 0, 3 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(5, TO_DATE( '28-09-2008', 'DD-MM-YYYY' ), 'Marshall Islands', 'Success', 'Collision During Launch', '', 'F1-4', 'Low Earth Orbit', 3, 0, 0, 3 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(6, TO_DATE( '14-07-2009', 'DD-MM-YYYY' ), 'Marshall Islands', 'Success', 'Collision During Launch', '', 'F1-5', 'Low Earth Orbit', 4, 0, 0, 4 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(7, TO_DATE( '04-06-2010', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Collision During Launch', 'Failure', 'F9-1', 'Low Earth Orbit', 4, 1, 1, 4 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(8, TO_DATE( '08-12-2010', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Collision During Launch', 'Failure', 'F9-2', 'Low Earth Orbit', 5, 1, 1, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(9, TO_DATE( '22-05-2012', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Collision During Launch', 'Failure', 'F9-3', 'Low Earth Orbit', 5, 1, 1, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(10, TO_DATE( '08-10-2012', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Collision During Launch', 'Failure', 'F9-4', 'Low Earth Orbit', 5, 1, 1, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(11, TO_DATE( '08-10-2012', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Failure', 'Engine Failure During Flight', 'Failure', 'F9-4', 'Low Earth Orbit', 1, 1, 1, 5 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(12, TO_DATE( '01-03-2013', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Failure', 'F9-5', 'Low Earth Orbit', 5, 1, 1, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(13, TO_DATE( '29-09-2013', 'DD-MM-YYYY' ), 'Vandenberg AFB SLC-4E', 'Success', 'Engine Failure During Flight', 'Failure', 'F9-6', 'Polar Orbit', 6, 2, 2, 6 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(14, TO_DATE( '03-12-2013', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Failure', 'F9-7', 'Geostationary Transfer Orbit', 1, 3, 2, 7 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(15, TO_DATE( '06-12-2014', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Failure', 'F9-8', 'Geostationary Transfer Orbit', 1, 3, 2, 8 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(16, TO_DATE( '18-04-2014', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-9', 'Low Earth Orbit', 5, 2, 2, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(17, TO_DATE( '14-07-2014', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-10', 'Low Earth Orbit', 1, 2, 2, 5 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(18, TO_DATE( '05-08-2014', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-11', 'Geostationary Transfer Orbit', 1, 3, 2, 9 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(19, TO_DATE( '07-09-2014', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-12', 'Geostationary Transfer Orbit', 1, 3, 2, 9 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(20, TO_DATE( '21-09-2014', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-13', 'Geostationary Transfer Orbit', 5, 2, 2, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(21, TO_DATE( '10-01-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Failure', 'F9-14', 'Low Earth Orbit', 5, 4, 2, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(22, TO_DATE( '11-02-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-15', 'Sun/Earth Orbit', 4, 2, 2, 10 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(23, TO_DATE( '02-03-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-16', 'Geostationary Transfer Orbit', 1, 3, 2, 11 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(24, TO_DATE( '02-03-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Success', 'F9-16', 'Geostationary Transfer Orbit', 1, 3, 2, 12 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(25, TO_DATE( '14-04-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Failure', 'F9-17', 'Low Earth Orbit', 5, 4, 2, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(26, TO_DATE( '27-04-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Engine Failure During Flight', 'Failure', 'F9-18', 'Geostationary Transfer Orbit', 1, 3, 2, 13 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(27, TO_DATE( '28-06-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Failure', 'Vehicle Explosion During Flight', 'Failure', 'F9-19', 'Low Earth Orbit', 5, 3, 2, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(28, TO_DATE( '22-12-2015', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Success', 'FT-1', 'Low Earth Orbit', 1, 5, 3, 5 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(29, TO_DATE( '17-01-2016', 'DD-MM-YYYY' ), 'Vandenberg AFB SLC-4E', 'Success', 'Vehicle Explosion During Flight', 'Failure', 'F9-21', 'Low Earth Orbit', 4, 4, 2, 14 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(30, TO_DATE( '04-03-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Failure', 'FT-2', 'Geostationary Transfer Orbit', 1, 4, 3, 7 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(31, TO_DATE( '08-04-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Success', 'FT-3', 'Low Earth Orbit', 5, 4, 3, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(32, TO_DATE( '06-05-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Success', 'FT-4', 'Geostationary Transfer Orbit', 1, 4, 3, 15 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(33, TO_DATE( '27-05-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Success', 'FT-5', 'Geostationary Transfer Orbit', 1, 4, 3, 8 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(34, TO_DATE( '15-06-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Failure', 'FT-6', 'Geostationary Transfer Orbit', 1, 4, 3, 11 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(35, TO_DATE( '15-06-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Failure', 'FT-6', 'Geostationary Transfer Orbit', 1, 4, 3, 12 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(36, TO_DATE( '18-07-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Success', 'FT-7', 'Low Earth Orbit', 5, 5, 3, 2 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(37, TO_DATE( '14-08-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Success', 'Vehicle Explosion During Flight', 'Success', 'FT-8', 'Geostationary Transfer Orbit', 1, 4, 3, 15 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(38, TO_DATE( '01-09-2016', 'DD-MM-YYYY' ), 'Cape Canaveral AFS LC-40', 'Failure', 'Vehicle Explosion Before Launch', 'Success', 'FT-9', 'Geostationary Transfer Orbit', 1, 4, 3, 16 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(39, TO_DATE( '14-01-2017', 'DD-MM-YYYY' ), 'Vandenberg AFB SLC-4E', 'Success', 'Vehicle Explosion Before Launch', 'Success', 'FT-10', 'Low Earth Orbit', 1, 4, 3, 17 );
INSERT INTO Mission(MissionId,LaunchDate,LaunchSite,MissionOutcome,FailureReason,LandingOutcome,FlightNumber,Orbit,Payload_PayloadId,LandingType_LandingTypeId,VehicleType_VehicleTypeId,Customer_CustomerId) VALUES(40, TO_DATE( '19-02-2017', 'DD-MM-YYYY' ), 'Kennedy Space Center LC-39A', 'Success', 'Vehicle Explosion Before Launch', 'Success', 'FT-11', 'Low Earth Orbit', 5, 5, 3, 2 );

In [ ]:

connection.close()